@inherits LayoutComponentBase

<MudThemeProvider Theme="@_customTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudText Typo="Typo.h5" Class="ml-3" Align="Align.Center"> <a href="/" style="color: inherit">Wegg.li</a></MudText>
        <MudSpacer />
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopRight">
            <MudMenuItem Href="world">Show me the world!</MudMenuItem>
        </MudMenu>

    </MudAppBar>
    
    <MudDrawer @bind-Open="@_drawerOpen" Variant="DrawerVariant.Temporary">
        <NavMenu />
    </MudDrawer>
    
    <MudMainContent>
        <MudContainer Style="height: 100%" MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme _customTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            DrawerBackground = Colors.Red.Darken3,
            AppbarBackground = Colors.Red.Darken3,
            Background = Colors.Red.Darken3,
            Surface = Colors.Red.Darken3,
            ActionDefault = "#FFFFFF",
            DrawerIcon = "#FFFFFF",
            AppbarText = "#FFFFFF",
            DrawerText = "#FFFFFF",
            Primary = "#FFFFFF",
            TextPrimary = "#FFFFFF"
        }
    };

}